.gndimg {
    border-radius: 3px
}

.aboutus {
    background-color: white;
    border-radius: 15px;
}

.about::first-letter{
    font-size: 300%;
    color: #112E5C;
  }

.aboutus p {
    text-indent: 5%;
    text-align: justify;
}