.amountform {
    background-color: white;
    border-radius: 15px;
    padding: 100px;
    
}

.btntext span {
    border: 3px black solid;
    background-color: red;
    font-size: 30px;
    height: 70px;
    padding-bottom: 300px;
    width: 100%;
}