.payment {
    background-color: white;
    border-radius: 15px;
}

.checkout {
    padding: 5px 5px;
    border-radius: 5px;
    background-color: lightgray;
}

.checkout span {
    color: white;
}

.label {
    color: white
}